<div class="container">
  <mat-card class="card">
    <div class="header">
      <h2
        *ngIf="!isDateChanged"
        (click)="showCalender()"
        class="pointer"
        [style.color]="selectedTheme"
      >
        Today
      </h2>
      <h2
        *ngIf="isDateChanged"
        (click)="showCalender()"
        class="pointer"
        [style.color]="selectedTheme"
      >
        {{ selectedDate | date : "MMM d, y" }}
      </h2>
      <div class="calender" *ngIf="isShowingCalender">
        <mat-calendar
          class="calender-card"
          [dateFilter]="myHolidayFilter"
          [selected]="selectedDate"
          (selectedChange)="dateChanged($event)"
        ></mat-calendar>
        <button
          mat-button
          [style.color]="selectedTheme"
          [style.width.%]="100"
          (click)="closeCalender()"
        >
          close
        </button>
      </div>
    </div>
    <div class="content">
      <input
        cdkFocusInitial
        class="text-input"
        name="taskText"
        type="email"
        placeholder="Call Sam for discussion"
        [(ngModel)]="taskText"
        autocomplete="off"
        (keyup.enter)="onEnter()"
      />
      <div cdkDropList class="listdata" (cdkDropListDropped)="drop($event)">
        <div *ngIf="tasks.length == 0" class="no-task">
          <p>No Task</p>
        </div>
        <div class="data" *ngFor="let task of tasks" cdkDrag>
          <div class="task-data" *ngIf="tasks.length > 0">
            <!-- <svg viewBox="0 0 36 36" class="circular-chart">
              <path
                class="circle-svg"
                [attr.stroke-dasharray]="percentage"
                d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
              />
            </svg> -->
            <mat-icon
              aria-hidden="false"
              aria-label="unchecked"
              *ngIf="!task.status"
              (click)="changeStatus(task)"
              >radio_button_unchecked</mat-icon
            >
            <mat-icon
              [style.color]="selectedTheme"
              aria-hidden="false"
              aria-label="checked"
              *ngIf="task.status"
              (click)="changeStatus(task)"
              >check</mat-icon
            >
            <!-- <span class="task-text">{{ task.text }}</span> -->
            <input
              [(ngModel)]="task.text"
              class="input"
              *ngIf="!task.status"
              (focus)="focusBoardTitle(task)"
              (focusout)="focusOutBoardTitle(task)"
            />
            <p *ngIf="task.status" class="task-text">
              <s>{{ task.text }}</s>
            </p>
            <div class="actions">
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteTask(task)"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-section">
      <!-- <svg viewBox="0 0 36 36" class="circular-chart">
        <path
          class="circle"
          [attr.stroke-dasharray]="percentage"
          d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
        />
      </svg> -->

      <span>
        <mat-icon
          *ngIf="enableTheme"
          [style.color]="selectedTheme"
          aria-hidden="false"
          aria-label="close"
          class="mat-click"
          matTooltip="change theme"
          [style.color]="selectedTheme"
          (click)="toggleTheme()"
          >add_circle</mat-icon
        >
      </span>
      <span *ngIf="!enableTheme" class="color-select">
        <span class="red1"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('red1')"
            >trip_origin</mat-icon
          >
        </span>

        <span class="orange1"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('orange1')"
            >trip_origin</mat-icon
          >
        </span>

        <span class="green1"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('green1')"
            >trip_origin</mat-icon
          >
        </span>

        <span class="pink1"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('pink1')"
            >trip_origin</mat-icon
          >
        </span>

        <span class="green2"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('green2')"
            >trip_origin</mat-icon
          >
        </span>

        <span class="blue1"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('blue1')"
            >trip_origin</mat-icon
          >
        </span>
        <span class="red2"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('red2')"
            >trip_origin</mat-icon
          >
        </span>
        <span class="blue2"
          ><mat-icon
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="selectTheme('blue2')"
            >trip_origin</mat-icon
          >
        </span>

        <span [style.color]="selectedTheme" [style.marginLeft.px]="10"
          ><mat-icon
            matTooltip="cancel"
            aria-hidden="false"
            aria-label="close"
            class="mat-click"
            (click)="toggleTheme()"
            >cancel</mat-icon
          ></span
        >
      </span>
    </div>
  </mat-card>
</div>
