<div class="container">
  <mat-card class="card-noshadow">
    <div class="header">
      <h2 [style.color]="selectedTheme">Monthly Status</h2>
    </div>
    <div class="content"></div>
  </mat-card>

  <!-- Permanent Tasks Section -->
  <mat-card class="card">
    <div class="header">
      <h2 [style.color]="selectedTheme">Permanent</h2>
    </div>
    <div class="content">
      <div cdkDropList class="listdata" (cdkDropListDropped)="drop($event)">
        <div *ngIf="permanentTasks.length == 0" class="no-task">
          <p>No Task</p>
        </div>
        <div class="data" *ngFor="let ptask of permanentTasks" cdkDrag>
          <div class="task-data" *ngIf="permanentTasks.length > 0">
            <mat-icon
              aria-hidden="false"
              aria-label="unchecked"
              *ngIf="!ptask.status"
              (click)="changeStatus(ptask, 'PERMANENT')"
              >radio_button_unchecked</mat-icon
            >
            <mat-icon
              [style.color]="selectedTheme"
              aria-hidden="false"
              aria-label="checked"
              *ngIf="ptask.status"
              (click)="changeStatus(ptask, 'PERMANENT')"
              >check</mat-icon
            >
            <input
              [(ngModel)]="ptask.text"
              class="input"
              *ngIf="!ptask.status && showInputField"
              (focus)="focusBoardTitle(ptask)"
              (focusout)="focusOutBoardTitle(ptask, 'PERMANENT')"
            />
            <p
              class="task-text"
              (click)="enableEdit()"
              *ngIf="!ptask.status && !showInputField"
            >
              {{ ptask.text }}
            </p>
            <p *ngIf="ptask.status" class="task-text">
              <s>{{ ptask.text }}</s>
            </p>
            <div class="actions">
              <span>
                <mat-icon
                  matTooltip="add label"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="addLabel(ptask, 'PERMANENT')"
                  >label</mat-icon
                >
              </span>
              <span #createBoardElm>
                <mat-icon
                  matTooltip="schedule task"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="scheduleTask(ptask, 'PERMANENT')"
                  >schedule</mat-icon
                >
              </span>
              <span>
                <mat-icon
                  matTooltip="delete task"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="deleteTask(ptask)"
                  >delete</mat-icon
                >
              </span>
            </div>
            <span>
              <mat-icon
                matTooltip="options"
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                [matMenuTriggerFor]="menu"
                >more_vert</mat-icon
              >
            </span>
            <mat-menu #menu="matMenu" class="custom-menu">
              <button
                mat-menu-item
                (click)="moveTaskForToday(ptask, 'PERMANENT')"
              >
                <mat-icon
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  >star</mat-icon
                >
                <span class="menu-text">Convert to today's task</span>
              </button>
              <!-- <button
                mat-menu-item
                (click)="moveTaskForTomorrow(ptask, 'PERMANENT')"
              >
                <mat-icon
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  >redo</mat-icon
                >
                <span class="menu-text">Move task for tomorrow</span>
              </button> -->
            </mat-menu>
          </div>
          <div
            class="chip-container"
            *ngIf="ptask.start || ptask.end || ptask.labels"
          >
            <mat-chip-list>
              <div *ngIf="ptask.start || ptask.end">
                <mat-chip
                  class="my-chip"
                  [style.border-color]="selectedTheme"
                  *ngIf="!ptask.status"
                >
                  <span>{{ ptask.start }}</span>
                  <span
                    [style.color]="selectedTheme"
                    class="separate"
                    *ngIf="ptask.end"
                    >-</span
                  >
                  <span>{{ ptask.end }}</span>
                </mat-chip>
                <mat-chip
                  class="my-chip"
                  [style.border-color]="'#969696'"
                  *ngIf="ptask.status"
                >
                  <span [style.color]="'#969696'">{{ ptask.start }}</span>
                  <span
                    class="separate"
                    [style.color]="'#969696'"
                    *ngIf="ptask.end"
                    >-</span
                  >
                  <span [style.color]="'#969696'">{{ ptask.end }}</span>
                </mat-chip>
              </div>
              <div *ngFor="let label of ptask.labels">
                <span>
                  <mat-chip
                    [style.background-color]="label.color"
                    class="single-label my-chip"
                  >
                    {{ label.name }}
                  </mat-chip>
                </span>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- TODAY's Tasks Section -->
  <mat-card class="card">
    <div class="header">
      <h2
        *ngIf="!isDateChanged"
        (click)="showCalender()"
        class="pointer"
        [style.color]="selectedTheme"
      >
        Today
      </h2>
      <h2
        *ngIf="isDateChanged"
        (click)="showCalender()"
        class="pointer"
        [style.color]="selectedTheme"
      >
        {{ selectedDate | date : "MMM d, y" }}
      </h2>
      <div class="calender" *ngIf="isShowingCalender">
        <mat-calendar
          class="calender-card"
          [dateFilter]="myHolidayFilter"
          [selected]="selectedDate"
          (selectedChange)="dateChanged($event)"
        ></mat-calendar>
        <button
          mat-button
          [style.color]="selectedTheme"
          [style.width.%]="100"
          (click)="closeCalender()"
        >
          close
        </button>
      </div>
    </div>
    <div class="content">
      <input
        cdkFocusInitial
        class="text-input"
        name="taskText"
        type="email"
        placeholder="Call Sam for discussion"
        [(ngModel)]="taskText"
        autocomplete="off"
        (keyup.enter)="onEnter()"
        (keydown)="onKeyDown($event)"
        [disabled]="isDateChanged"
      />
      <!-- <textarea (select)="selectionchange($event)"></textarea> -->
      <div class="progress-section">
        <span [style.font-weight]="'900'" [style.color]="selectedTheme"
          >{{ percentageComplete }}%</span
        >
        <div class="progress">
          <div
            [style.background]="selectedTheme"
            [style.width.%]="percentageComplete"
            class="progress-bar"
          ></div>
        </div>
      </div>
      <div cdkDropList class="listdata" (cdkDropListDropped)="drop($event)">
        <div *ngIf="tasks.length == 0" class="no-task">
          <p>No Task</p>
        </div>
        <div class="data" *ngFor="let task of tasks" cdkDrag>
          <div class="task-data" *ngIf="tasks.length > 0">
            <mat-icon
              aria-hidden="false"
              aria-label="unchecked"
              *ngIf="!task.status"
              (click)="changeStatus(task, 'DAILY')"
              >radio_button_unchecked</mat-icon
            >
            <mat-icon
              [style.color]="selectedTheme"
              aria-hidden="false"
              aria-label="checked"
              *ngIf="task.status"
              (click)="changeStatus(task, 'DAILY')"
              >check</mat-icon
            >
            <input
              [(ngModel)]="task.text"
              class="input"
              *ngIf="!task.status && showInputField"
              (focus)="focusBoardTitle(task)"
              (focusout)="focusOutBoardTitle(task, 'DAILY')"
            />
            <p
              class="task-text"
              (click)="enableEdit()"
              *ngIf="!task.status && !showInputField"
            >
              {{ task.text }}
            </p>
            <p *ngIf="task.status" class="task-text">
              <s>{{ task.text }}</s>
            </p>

            <div class="actions">
              <span>
                <mat-icon
                  matTooltip="add label"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="addLabel(task, 'DAILY')"
                  >label</mat-icon
                >
              </span>
              <span #createBoardElm>
                <mat-icon
                  matTooltip="schedule task"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="scheduleTask(task, 'DAILY')"
                  >schedule</mat-icon
                >
              </span>
              <span>
                <mat-icon
                  matTooltip="delete task"
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  (click)="deleteTask(task)"
                  >delete</mat-icon
                >
              </span>
            </div>
            <span>
              <mat-icon
                matTooltip="options"
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                [matMenuTriggerFor]="menu"
                >more_vert</mat-icon
              >
            </span>
            <mat-menu #menu="matMenu" class="custom-menu">
              <button mat-menu-item (click)="convertToPermanentTask(task)">
                <mat-icon
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  >star</mat-icon
                >
                <span class="menu-text">Convert to permanent task</span>
              </button>
              <button
                mat-menu-item
                (click)="moveTaskForToday(task, 'DAILY')"
                *ngIf="isDateChanged"
              >
                <mat-icon
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  >redo</mat-icon
                >
                <span class="menu-text">Move task for today</span>
              </button>

              <button mat-menu-item (click)="moveTaskToDate(task, 'DAILY')">
                <mat-icon
                  [style.color]="selectedTheme"
                  aria-hidden="false"
                  aria-label="close"
                  >calendar_month</mat-icon
                >
                <span class="menu-text">Move task to date</span>
              </button>
            </mat-menu>
          </div>
          <div class="chip-container" *ngIf="task.start || task.end">
            <mat-chip-list>
              <mat-chip
                class="my-chip"
                [style.border-color]="selectedTheme"
                *ngIf="!task.status"
              >
                <span>{{ task.start }}</span>
                <span
                  [style.color]="selectedTheme"
                  class="separate"
                  *ngIf="task.end"
                  >-</span
                >
                <span>{{ task.end }}</span>
              </mat-chip>
              <mat-chip
                class="my-chip"
                [style.border-color]="'#969696'"
                *ngIf="task.status"
              >
                <span [style.color]="'#969696'">{{ task.start }}</span>
                <span
                  class="separate"
                  [style.color]="'#969696'"
                  *ngIf="task.end"
                  >-</span
                >
                <span [style.color]="'#969696'">{{ task.end }}</span>
              </mat-chip>
              <div *ngFor="let label of task.labels">
                <span>
                  <mat-chip
                    [style.background-color]="label.color"
                    class="single-label my-chip"
                  >
                    {{ label.name }}
                  </mat-chip>
                </span>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-section">
      <!-- <svg viewBox="0 0 36 36" class="circular-chart">
        <path
          class="circle"
          [attr.stroke-dasharray]="percentage"
          d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
        />
      </svg> -->

      <span>
        <mat-icon
          *ngIf="enableTheme"
          [style.color]="selectedTheme"
          aria-hidden="false"
          aria-label="close"
          class="icon mat-click"
          matTooltip="change theme"
          [style.color]="selectedTheme"
          (click)="toggleTheme()"
          >add_circle</mat-icon
        >
      </span>
      <span *ngIf="!enableTheme" class="color-select">
        <color-icon-list
          (themeSelected)="selectTheme($event)"
        ></color-icon-list>

        <span [style.color]="selectedTheme" [style.marginLeft.px]="10"
          ><mat-icon
            matTooltip="cancel"
            aria-hidden="false"
            aria-label="close"
            class="icon mat-click"
            (click)="toggleTheme()"
            >cancel</mat-icon
          ></span
        >
      </span>
    </div>
  </mat-card>
</div>
