a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.toolbar {
  height: 4rem;
}

.nav-padding {
  padding: 0px 10px;
}

.title {
  font-size: 24px;
}

.flex-display {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
}

.bar {
  margin: 0 1rem;
}

.bar span {
  color: #969696;
  font-weight: 700;
  font-size: 24px;
}

.bar mat-icon {
  color: #969696;
  font-size: 36px;
}

.icon {
  color: #969696;
}

.username {
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  .bar span {
    color: #969696;
    font-weight: 700;
    font-size: 18px;
  }
}
