<div class="overlay" *ngIf="isLoading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div class="container">
  <div class="date-header" [style.color]="selectedTheme">
    {{ todayDate | date : "MMM d, y" }}
  </div>
  <div class="theme-section">
    <span>
      <mat-icon
        *ngIf="enableTheme"
        [style.color]="selectedTheme"
        aria-hidden="false"
        aria-label="close"
        class="icon pointer"
        matTooltip="change theme"
        [style.color]="selectedTheme"
        (click)="toggleTheme()"
        >add_circle</mat-icon
      >
    </span>
    <span *ngIf="!enableTheme" class="color-select">
      <color-icon
        [theme]="'red1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'orange1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'green1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'green2'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'green3'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'pink1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'pink2'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'blue1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'blue2'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'blue3'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'yellow1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'yellow2'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'purple1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'purple2'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>
      <color-icon
        [theme]="'cream1'"
        (changedTheme)="selectTheme($event)"
      ></color-icon>

      <span [style.color]="selectedTheme"
        ><mat-icon
          matTooltip="cancel"
          aria-hidden="false"
          aria-label="close"
          class="icon pointer"
          (click)="toggleTheme()"
          >cancel</mat-icon
        ></span
      >
    </span>
  </div>
  <div class="wrapper">
    <mat-card class="card one">
      <p class="header flex-center">Work</p>
      <input
        cdkFocusInitial
        class="text-input"
        name="workText"
        type="email"
        placeholder="Call Sam for discussion"
        [(ngModel)]="workText"
        autocomplete="off"
        (keyup.enter)="onWorkEnter()"
      />
      <div class="data" *ngFor="let work of works" cdkDrag>
        <div class="text-data" *ngIf="works.length > 0">
          <mat-icon
            aria-hidden="false"
            aria-label="unchecked"
            *ngIf="!work.status"
            (click)="changeWorkStatus(work)"
            >radio_button_unchecked</mat-icon
          >
          <mat-icon
            [style.color]="selectedTheme"
            aria-hidden="false"
            aria-label="checked"
            *ngIf="work.status"
            (click)="changeWorkStatus(work)"
            >check</mat-icon
          >
          <input
            [(ngModel)]="work.text"
            class="input"
            *ngIf="!work.status"
            (focus)="focusBoardTitle(work)"
            (focusout)="focusOutBoardTitle(work)"
          />
          <p *ngIf="work.status" class="data-text">
            <s>{{ work.text }}</s>
          </p>
          <div class="actions">
            <span #workScheduleElm>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="scheduleTask(work)"
                >schedule</mat-icon
              >
            </span>
            <span>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteWork(work)"
                >delete</mat-icon
              >
            </span>
          </div>
        </div>
        <div class="chip-container" *ngIf="work.start || work.end">
          <mat-chip-list>
            <mat-chip
              class="my-chip"
              [style.border-color]="selectedTheme"
              *ngIf="!work.status"
            >
              <span>{{ work.start }}</span>
              <span
                [style.color]="selectedTheme"
                class="separate"
                *ngIf="work.end"
                >-</span
              >
              <span>{{ work.end }}</span>
            </mat-chip>
            <mat-chip
              class="my-chip"
              [style.border-color]="'#969696'"
              *ngIf="work.status"
            >
              <span [style.color]="'#969696'">{{ work.start }}</span>
              <span class="separate" [style.color]="'#969696'" *ngIf="work.end"
                >-</span
              >
              <span [style.color]="'#969696'">{{ work.end }}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card>
    <mat-card class="card two">
      <p class="header flex-center">Family</p>

      <input
        cdkFocusInitial
        class="text-input"
        name="familyText"
        type="email"
        placeholder="Cook chicken for lunch"
        [(ngModel)]="familyText"
        autocomplete="off"
        (keyup.enter)="onFamilyEnter()"
      />
      <div class="data" *ngFor="let family of families" cdkDrag>
        <div class="text-data" *ngIf="families.length > 0">
          <mat-icon
            aria-hidden="false"
            aria-label="unchecked"
            *ngIf="!family.status"
            (click)="changeFamilyStatus(family)"
            >radio_button_unchecked</mat-icon
          >
          <mat-icon
            [style.color]="selectedTheme"
            aria-hidden="false"
            aria-label="checked"
            *ngIf="family.status"
            (click)="changeFamilyStatus(family)"
            >check</mat-icon
          >
          <input
            [(ngModel)]="family.text"
            class="input"
            *ngIf="!family.status"
            (focus)="focusFamilyTitle(family)"
            (focusout)="focusOutFamilyTitle(family)"
          />
          <p *ngIf="family.status" class="data-text">
            <s>{{ family.text }}</s>
          </p>
          <div class="actions">
            <span #familyScheduleElm>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="scheduleFamilyTask(family)"
                >schedule</mat-icon
              >
            </span>
            <span>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteFamily(family)"
                >delete</mat-icon
              >
            </span>
          </div>
        </div>
        <div class="chip-container" *ngIf="family.start || family.end">
          <mat-chip-list>
            <mat-chip
              class="my-chip"
              [style.border-color]="selectedTheme"
              *ngIf="!family.status"
            >
              <span>{{ family.start }}</span>
              <span
                [style.color]="selectedTheme"
                class="separate"
                *ngIf="family.end"
                >-</span
              >
              <span>{{ family.end }}</span>
            </mat-chip>
            <mat-chip
              class="my-chip"
              [style.border-color]="'#969696'"
              *ngIf="family.status"
            >
              <span [style.color]="'#969696'">{{ family.start }}</span>
              <span
                class="separate"
                [style.color]="'#969696'"
                *ngIf="family.end"
                >-</span
              >
              <span [style.color]="'#969696'">{{ family.end }}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card>
    <mat-card class="card three">
      <p class="header flex-center">Self Care</p>

      <input
        cdkFocusInitial
        class="text-input"
        name="selfcareText"
        type="email"
        placeholder="Exercise from 7AM"
        [(ngModel)]="selfcareText"
        autocomplete="off"
        (keyup.enter)="onSelfcareEnter()"
      />
      <div class="data" *ngFor="let selfcare of selfcares" cdkDrag>
        <div class="text-data" *ngIf="selfcares.length > 0">
          <mat-icon
            aria-hidden="false"
            aria-label="unchecked"
            *ngIf="!selfcare.status"
            (click)="changeSelfcareStatus(selfcare)"
            >radio_button_unchecked</mat-icon
          >
          <mat-icon
            [style.color]="selectedTheme"
            aria-hidden="false"
            aria-label="checked"
            *ngIf="selfcare.status"
            (click)="changeSelfcareStatus(selfcare)"
            >check</mat-icon
          >
          <input
            [(ngModel)]="selfcare.text"
            class="input"
            *ngIf="!selfcare.status"
            (focus)="focusFamilyTitle(selfcare)"
            (focusout)="focusOutFamilyTitle(selfcare)"
          />
          <p *ngIf="selfcare.status" class="data-text">
            <s>{{ selfcare.text }}</s>
          </p>
          <div class="actions">
            <span #selfcareScheduleElm>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="scheduleSelfcareTask(selfcare)"
                >schedule</mat-icon
              >
            </span>
            <span>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteSelfcare(selfcare)"
                >delete</mat-icon
              >
            </span>
          </div>
        </div>
        <div class="chip-container" *ngIf="selfcare.start || selfcare.end">
          <mat-chip-list>
            <mat-chip
              class="my-chip"
              [style.border-color]="selectedTheme"
              *ngIf="!selfcare.status"
            >
              <span>{{ selfcare.start }}</span>
              <span
                [style.color]="selectedTheme"
                class="separate"
                *ngIf="selfcare.end"
                >-</span
              >
              <span>{{ selfcare.end }}</span>
            </mat-chip>
            <mat-chip
              class="my-chip"
              [style.border-color]="'#969696'"
              *ngIf="selfcare.status"
            >
              <span [style.color]="'#969696'">{{ selfcare.start }}</span>
              <span
                class="separate"
                [style.color]="'#969696'"
                *ngIf="selfcare.end"
                >-</span
              >
              <span [style.color]="'#969696'">{{ selfcare.end }}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card>
    <mat-card class="card four">
      <p class="header flex-center">Suggestion</p>

      <input
        cdkFocusInitial
        class="text-input"
        name="suggestionText"
        type="email"
        placeholder="How could i have made today better ?"
        [(ngModel)]="suggestionText"
        autocomplete="off"
        (keyup.enter)="onSuggestionEnter()"
      />
      <div class="data" *ngFor="let suggestion of suggestions" cdkDrag>
        <div class="text-data" *ngIf="suggestions.length > 0">
          <!-- <mat-icon
            aria-hidden="false"
            aria-label="unchecked"
            *ngIf="!suggestion.status"
            (click)="changeSuggestionStatus(suggestion)"
            >radio_button_unchecked</mat-icon
          >
          <mat-icon
            [style.color]="selectedTheme"
            aria-hidden="false"
            aria-label="checked"
            *ngIf="selfcare.status"
            (click)="changeSuggestionStatus(suggestion)"
            >check</mat-icon
          > -->
          <input
            [(ngModel)]="suggestion.text"
            class="input"
            (focus)="focusSuggestionTitle(suggestion)"
            (focusout)="focusOutSuggestionTitle(suggestion)"
          />
          <!-- <p *ngIf="suggestion.status" class="data-text">
            <s>{{ suggestion.text }}</s>
          </p> -->
          <div class="actions">
            <span #suggestionScheduleElm>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="scheduleSuggestionTask(suggestion)"
                >schedule</mat-icon
              >
            </span>
            <span>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteSuggestion(suggestion)"
                >delete</mat-icon
              >
            </span>
          </div>
        </div>
        <div class="chip-container" *ngIf="suggestion.start || suggestion.end">
          <mat-chip-list>
            <mat-chip class="my-chip" [style.border-color]="selectedTheme">
              <span>{{ suggestion.start }}</span>
              <span
                [style.color]="selectedTheme"
                class="separate"
                *ngIf="suggestion.end"
                >-</span
              >
              <span>{{ suggestion.end }}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card>
    <mat-card class="card five">
      <p class="header flex-center">Notes</p>

      <input
        cdkFocusInitial
        class="text-input"
        name="noteText"
        type="email"
        placeholder="Remember to..."
        [(ngModel)]="noteText"
        autocomplete="off"
        (keyup.enter)="onNoteEnter()"
      />
      <div class="data" *ngFor="let note of notes" cdkDrag>
        <div class="text-data" *ngIf="notes.length > 0">
          <!-- <mat-icon
            aria-hidden="false"
            aria-label="unchecked"
            *ngIf="!note.status"
            (click)="changeNoteStatus(note)"
            >radio_button_unchecked</mat-icon
          >
          <mat-icon
            [style.color]="selectedTheme"
            aria-hidden="false"
            aria-label="checked"
            *ngIf="note.status"
            (click)="changeNoteStatus(note)"
            >check</mat-icon
          > -->
          <input
            [(ngModel)]="note.text"
            class="input"
            (focus)="focusNoteTitle(note)"
            (focusout)="focusOutNoteTitle(note)"
          />
          <!-- <p *ngIf="note.status" class="data-text">
            <s>{{ note.text }}</s>
          </p> -->
          <div class="actions">
            <!-- <span #noteScheduleElm>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="scheduleNoteTask(note)"
                >schedule</mat-icon
              >
            </span> -->
            <span>
              <mat-icon
                [style.color]="selectedTheme"
                aria-hidden="false"
                aria-label="close"
                (click)="deleteNote(note)"
                >delete</mat-icon
              >
            </span>
          </div>
        </div>
        <!-- <div class="chip-container" *ngIf="note.start || note.end">
          <mat-chip-list>
            <mat-chip
              class="my-chip"
              [style.border-color]="selectedTheme"
              *ngIf="!note.status"
            >
              <span>{{ note.start }}</span>
              <span
                [style.color]="selectedTheme"
                class="separate"
                *ngIf="note.end"
                >-</span
              >
              <span>{{ note.end }}</span>
            </mat-chip>
            <mat-chip
              class="my-chip"
              [style.border-color]="'#969696'"
              *ngIf="note.status"
            >
              <span [style.color]="'#969696'">{{ note.start }}</span>
              <span class="separate" [style.color]="'#969696'" *ngIf="note.end"
                >-</span
              >
              <span [style.color]="'#969696'">{{ note.end }}</span>
            </mat-chip>
          </mat-chip-list>
        </div> -->
      </div>
    </mat-card>
    <mat-card class="card six">
      <p class="header flex-center">Rate your day</p>
      <div class="rating-section">
        <span class="rating-text">Work</span>
        <div>
          <button
            mat-icon-button
            [ngClass]="{ highlight: workRating === 1 }"
            (click)="setWorkRating(1)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: workRating === 2 }"
            (click)="setWorkRating(2)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: workRating === 3 }"
            (click)="setWorkRating(3)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: workRating === 4 }"
            (click)="setWorkRating(4)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: workRating === 5 }"
            (click)="setWorkRating(5)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>

      <div class="rating-section">
        <span class="rating-text">Family</span>
        <div>
          <button
            mat-icon-button
            [ngClass]="{ highlight: familyRating === 1 }"
            (click)="setFamilyRating(1)"
          >
            <mat-icon>grade</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: familyRating === 2 }"
            (click)="setFamilyRating(2)"
          >
            <mat-icon>grade</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: familyRating === 3 }"
            (click)="setFamilyRating(3)"
          >
            <mat-icon>grade</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: familyRating === 4 }"
            (click)="setFamilyRating(4)"
          >
            <mat-icon>grade</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: familyRating === 5 }"
            (click)="setFamilyRating(5)"
          >
            <mat-icon>grade</mat-icon>
          </button>
        </div>
      </div>

      <div class="rating-section">
        <span class="rating-text">Self Care</span>
        <div>
          <button
            mat-icon-button
            [ngClass]="{ highlight: selfcareRating === 1 }"
            (click)="setSelfcareRating(1)"
          >
            <mat-icon>circle</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: selfcareRating === 2 }"
            (click)="setSelfcareRating(2)"
          >
            <mat-icon>circle</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: selfcareRating === 3 }"
            (click)="setSelfcareRating(3)"
          >
            <mat-icon>circle</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: selfcareRating === 4 }"
            (click)="setSelfcareRating(4)"
          >
            <mat-icon>circle</mat-icon>
          </button>
          <button
            mat-icon-button
            [ngClass]="{ highlight: selfcareRating === 5 }"
            (click)="setSelfcareRating(5)"
          >
            <mat-icon>circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
