::ng-deep.swatches-overflow {
  overflow: hidden !important;
}

::ng-deep.mat-dialog-container {
  background: var(--popupBgColor) !important;
  color: var(--textColor) !important;
}

::ng-deep.mat-button-toggle-checked span {
  color: #fb2424 !important;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.options {
  margin-top: 20px;
}

.section {
  display: flex;
  justify-content: flex-end;
}

.label {
  margin-right: 1rem;
}

select {
  height: 25px;
  background: var(--popupBgColor) !important;
  color: var(--textColor) !important;
}

.toggle {
  display: flex;
  margin-left: 2px;
  border-color: #969696 !important;
}

.toggle-btn {
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--popupBgColor) !important;
  color: var(--textColor) !important;
}
