/* You can add global styles to this file, and also import other style files */
@import "_variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  // background: #000 !important;
  background-color: var(--bgColor);
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

button {
  // font-family: "Space Mono", monospace;
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  font: 600 52px/60px "Roboto Mono", monospace;
}

p {
  font: 400 16px/24px "Roboto Mono", monospace;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #6060603b;
}
