<div class="overlay" *ngIf="isLoading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div *ngIf="!(authService.loggedIn$ | async)">
  <div class="info-section">
    <p class="info-text">Plan Daily</p>
    <p class="info-text">with</p>
    <p class="info-text">Daily <span class="highlight">Task</span></p>
    <!-- <p class="info-text">Daily <span class="highlight">Diary</span></p> -->
    <p class="small">Log into start working with tasks</p>
    <div class="btn-section">
      <button
        mat-flat-button
        class="bg-gray big-btn"
        (click)="navigate('login')"
      >
        Login
      </button>
    </div>
  </div>
</div>

<div *ngIf="authService.loggedIn$ | async">
  <div class="info-section">
    <p class="info-text">Plan Life</p>
    <p class="info-text"><span class="highlight">Daily</span></p>
    <p class="info-text text-sm">with</p>
    <div class="btn-section">
      <button
        mat-flat-button
        class="bg-gray big-btn"
        (click)="navigate('tasks')"
      >
        Tasks
      </button>
      <!-- <button
        mat-flat-button
        class="bg-gray big-btn"
        (click)="navigate('diary')"
      >
        Diary
      </button> -->
    </div>
  </div>
</div>
